<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body style="background-color:blanchedalmond ;">
  <h1 style="text-align: center;">Create an Account/Login</h1>
  <div class="container" style='text-align:center; width: 20%;'>
    <a href="/users/register" class="btn btn-success" style="display: block;margin: 15px;">
      <h3>Register</h3>
    </a>
    <a href="/users/login" class="btn btn-secondary" style="display: block; margin: 15px;;">
      <h3>Login</h3>
    </a>
  </div>


  <script src="" async defer></script>
</body>

</html>